.sidebar {
    display: flex;
    width: 19%;
    height:100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #3c4b64;
}

.Dashborad {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
}

.sidebar-nav{
    position: relative;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-title{
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    font-size: 80%;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);;
    text-transform: uppercase;
    transition: height 0.15s, margin 0.15s;
}

.nav-link{
    display: flex;
    flex: 1 1;
    align-items: center;
    padding: .8445rem 1rem;
    color: rgba(255, 255, 255, 0.6);;
    text-decoration: none;
    white-space: nowrap;
    background: transparent;
}

.selected-nav-item{
    background: rgba(255, 255, 255, 0.05);
}